/.vscode
/checkpoint.pth
/checkpoint_100k.pth
/checkpoint_100k_1.pth
/checkpoint_100k_1_r.pth
/checkpoint_100k_1_r2.pth
/checkpoint_100k_1_r3.pth
/checkpoint_t.pth
/checkpoint_u.pth
/grapgh.png
/graph_100k_1_r3.png
/scores.txt
/scores_100k.txt
/scores_100k_1.txt
/scores_100k_1_r.txt
/scores_100k_1_r2.txt
/scores_100k_1_r3.txt
/scores_t.txt
/scores_u.txt
/__pycache__